.container {
  position: relative;
  display: inline-block;
  width: fit-content;
}
.profileImageContainer {
  width: 88px;
  height: 88px;
}

.changeImageButton {
  position: absolute;
  right: 0;
  bottom: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.changeImageIcon {
  width: 31px;
  height: 31px;
}
