/* reset.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: sans-serif;
  background-color:"#0F1014";
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "N27";
  src: url("@assets/fonts/N27-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
